body {
  padding: 30px;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.country-container {
  margin-top: 10px;
  border: 2px solid green;
}

.btn {
  margin-top: 20px;
}

.card-container {
  display: flex;
  align-items: center;
}

.flag-container {
  width: 30%;
  margin-left: 50px;
  border: 3px solid grey;
  padding: 10px;
}

.input-search {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.country-flag {
  width: 100%;
}

.contry-data {
  margin-left: 25px;
}
